.purpose {
  display: flex;
  flex-direction: column;
  
}

.purpose__list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.purpose__item {
  background-color: $basic-gray;
  padding: 30px 20px 0;
  margin-bottom: 20px;
  position: relative;

  &:last-child {
    margin: 0;
  }
  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    top: 24px;
  }

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    left: -5px;
  }

  &:first-child::after {
    background-image: url("../img/purpose/lose_weight.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -2px;
  }

  &:last-child::after {
    background-image: url("../img/purpose/gain_weight.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;
  }
}

.purpose__title {
  @include font-mix(24, 37);
  padding-left: 12px;
  margin: 0;
  margin-bottom: 29px;
  text-align: center;
  text-transform: uppercase;
}

.purpose__text {
  @include font-mix(14, 18, $dark-gray, 400, "Arial");
  margin: 0;
  margin-bottom: 23px;
}

.purpose__link {
  width: 100%;
  display: flex;
  align-items: center;
  height: 57px;
  text-decoration: none;
  border-top: 1px solid $dark-gray;
  position: relative;
  @include font-mix(16, 16);
  text-transform: uppercase;

  &:active {
    opacity: 0.5;
  }
  &::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 32px;
    background-image: url("../img/arrows/arrow-short.svg");
    background-repeat: no-repeat;
    left: 100px;
  }

  &:hover::after {
    background-image: url("../img/arrows/arrow-long.svg");
  }
  &:active::after {
    opacity: 0.5;
  }
}


// @media (min-width: $tablet) {
//   .purpose__title {
//     @include font-mix(36, 36);
//     padding-left: 0;
//     text-align: start;
//     // margin: 0;
//     // text-transform: uppercase;
//   }
//   .purpose__text {
//     @include font-mix(16, 24, $basic-black, 400, "Arial");
//     margin-bottom: 23px;
//   }
// }