.additional-card {
  display: flex;
  flex-direction: column;
  padding-top: 14px;
  padding-left: 1px;
  padding-bottom: 16px;
  border-top: 1px solid $again-gray-4;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 26px 38px 26px;
    border-left: 1px solid $again-gray-4;
    border-right: 1px solid $again-gray-4;
  }

  @media (min-width: $desktop) {
    align-items: center;
    height: 72px;
    padding: 0;
    border-left: none;
    border-right: none;
  }
}

.additional-card__title {
  @include Oswald(16, 16, $dark-2);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 13px;

  @media (min-width: $tablet) {
    @include Oswald(20, 20);
    align-self: center;
    margin-bottom: 25.5px;
  }

  @media (min-width: $desktop) {
    width: 324px;
    margin: 0;
    padding-bottom: 3px;
  }
}

.additional-card__portion-price {
  @include Arial(14, 14, $dark-gray);
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    @include Arial(16, 20, $dark-gray);
    display: grid;
    grid-template-columns: 1fr 92px;
    align-self: center;
    margin-bottom: 17px;
  }

  @media (min-width: $desktop) {
    width: 290px;
    grid-template-columns: 1fr 45px;
    margin: 0;
    margin-right: 38px;
    padding-top: 7px;
  }

  & p {
    margin: 0;

    @media (min-width: $tablet) {
      justify-self: end;
    }

    @media (min-width: $desktop) {
      justify-self: start;
    }
  }
}

.additional-card__button {
  @media (min-width: $desktop) {
    width: 244px;
    margin-bottom: 2px;
  }
}
