.title-line {
  width: 100vw;
  height: 2px;
  background-color: $basic-green;
  position: relative;
}

.title-line__text {
  @include Oswald(24, 26);
  margin: 0;
  position: absolute;
  top: -16px;
  background-color: $basic-white;
  padding-left: var(--pad);
  padding-right: 23px;

  @media (min-width: $tablet) {
    @include Oswald(36, 36);
    top: -23px;
    left: 30px;
    padding-left: 40px;
    padding-right: 40px;

    br {
      display: none;
    }
  }

  @media (min-width: $desktop) {
    left: 70px;
  }

  &--catalog {
    line-height: 24px;
    top: -15px;
    padding-left: 20px;

    @media (min-width: $tablet) {
      padding-left: 37px;
      padding-right: 36px;
    }
  }
}
