$lin-grad-cat-tabl: linear-gradient(to bottom, $basic-white 0, $basic-white 173px, $again-gray-2 173px, $again-gray-2 462px);
$lin-grad-cat-desk: linear-gradient(to bottom, $basic-white 0, $basic-white 191px, $again-gray-2 191px, $again-gray-2 462px);

.cat-slider {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    background: $lin-grad-cat-tabl;
  }

  @media (min-width: $desktop) {
    width: 670px;
    background: $lin-grad-cat-desk;
  }
}

.cat-slider__images {
  height: 232px;
  width: 311px;
  margin-bottom: 23px;
  position: relative;

  @media (min-width: $tablet) {
    width: 708px;
    height: 520px;
    margin-bottom: 9px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 28px;
  }
}

.cat-slider__now-cat {
  display: block;
  position: absolute;
  left: 50px;

  @media (min-width: $tablet) {
    width: 545px;
    height: 520px;
    left: 105px;
  }

  @media (min-width: $desktop) {
    width: 545px;
    height: 520px;
    left: 90px;
  }
}

.cat-slider__past-cat {
  @media (min-width: $tablet) {
    width: 677px;
    height: 520px;
  }
}

.cat-slider__past-cat-block {
  position: absolute;
  top: 0;
  left: -4px;
  // width: 50%;
  width: 100%;
  overflow: hidden;
  background-color: $again-gray-2;

  @media (min-width: $tablet) {
    width: 47.7%;
    left: 15px;
    background: $lin-grad-cat-tabl;
  }

  @media (min-width: $desktop) {
    width: 51.6%;
    left: 0;
    background: linear-gradient(to bottom, $basic-white 0, $basic-white 191px, $basic-gray 191px, $basic-gray 433px);
    height: 9999px;
  }
}

.cat-slider__interactive {
  display: flex;
  align-items: center;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    margin-bottom: 65px;
    z-index: 1;
  }

  @media (min-width: $desktop) {
    padding-left: 17px;
  }
}

.cat-slider__button {
  @include Oswald(16, 20);
  width: 70px;
  height: 40px;
  padding: 4px 10px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
  background-color: transparent;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    width: 58%;
    height: 1px;
    background: repeating-linear-gradient(to right, rgba($basic-black, 0.4) 0, rgba($basic-black, 0.4) 1px, $basic-white 1px, $basic-white 2px);
    top: 37px;
    left: 15px;
  }

  @media (min-width: $tablet) {
    @include Oswald(20, 30);
  }

  &:hover::after,
  &:focus::after {
    background: rgba($basic-black, 0.4);
  }

  &:active::after {
    background: transparent;
  }
}

.cat-slider__out-decor-container {
  width: 84px;
  height: 14px;
  background-color: $basic-white;
  border-radius: 6px;
  padding: 0 6px;
  margin: 0 2px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 428px;
    height: 34px;
    background-color: transparent;
    // padding: 14px 0;
    box-sizing: border-box;
    margin: 0 13px 0 10px;
  }
}


.cat-slider__range-container {
  padding: 4px 0;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  height: 14px;

  @media (min-width: $tablet) {
    padding: 14px 0;
    height: 34px;
  }
}

.cat-slider__range {
  width: 100%;
  height: 6px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    background-color: $again-gray-5;
    border-radius: 3px;
  }
}


.cat-slider__bar {
  width: 36px;
  height: 6px;
  background-color: $basic-green;
  border-radius: 6px;
  pointer-events: none;
  position: absolute;

  @media (min-width: $tablet) {
    width: 34px;
    height: 34px;
    border: 1px solid $third-gray;
    box-sizing: border-box;
    border-radius: 50%;
    background-color: $basic-white;
    top: 0;
    // top: -10px;
    left: 48%;
    filter: drop-shadow(0 1px 3px rgba($basic-black, 0.16));

    &::after {
      position: absolute;
      content: "";
      width: 8px;
      height: 8px;
      background-color: $basic-green;
      border-radius: 50%;
      top: 12px;
      left: 12px;
    }
  }
}

.cat-slider__js {
  @media (min-width: $tablet) {
    &--hover {
      filter: drop-shadow(0 2px 4px rgba($basic-black, 0.19));
    }

    &--active {
      border-color: $basic-green;
    }
  }
}
