.comment {
  padding: 0;
}

.comment__legend {
  margin: 0;
  margin-bottom: 38px;
  margin-right: calc(-1 * var(--pad));
  margin-left: calc(-1 * var(--pad));

  @media (min-width: $tablet) {
    margin-bottom: 76px;
  }
}

.comment__field {
  height: 151px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
}
