.data {
  display: flex;
  flex-direction: column;
}

.data__label {
  text-transform: uppercase;
}

.data__parameters {
  margin-bottom: 24px;
}

.data__purposes {
  margin-bottom: 26px;

  @media (min-width: $tablet) {
    margin-bottom: 75px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 69px;
  }
}

.data__owner {
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 67px;
  }
}

.data__comment {
  margin-bottom: 23.5px;

  @media (min-width: $tablet) {
    margin-bottom: 65px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 67px;
  }
}

.data__optional {
  margin-bottom: 34px;

  @media (min-width: $tablet) {
    margin-bottom: 54px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 61px;
  }
}

.data__input {
  flex-grow: 1;
  margin-left: 16px;
  height: 45px;
  width: 100px;
  box-sizing: border-box;
  text-transform: uppercase;

  &--tel,
  &--email {
    margin-left: 11px;
  }
}
