.data {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.data__label {
  text-transform: uppercase;
}

.data__parameters {
  margin-bottom: 24px;

  @media (min-width: $desktop) {
    width: 570px;
  }

  @media (min-width: $tablet) and (max-width: 1439px) {
    padding-left: $form-tablet-left;
    padding-right: $form-tablet-right;
  }
}

.data__purposes {
  margin-bottom: 42px;

  @media (min-width: $tablet) {
    margin-bottom: 97px;
  }

  @media (min-width: $desktop) {
    width: 570px;
    margin-bottom: 93px;
  }

  @media (min-width: $tablet) and (max-width: 1439px) {
    padding-left: $form-tablet-left;
    padding-right: $form-tablet-right;
  }
}

.data__owner {
  margin-bottom: 39px;

  @media (min-width: $tablet) {
    margin-bottom: 94px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 88px;
  }
}

.data__comment {
  margin-bottom: 35px;


  @media (min-width: $tablet) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 84px;
  }
}

.data__optional {
  margin-bottom: 41px;

  @media (min-width: $tablet) {
    margin-bottom: 59px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    margin-bottom: 66px;
  }
}

.data__button-field {
  @media (min-width: $desktop) {
    width: 100%;
  }

  @media (min-width: $tablet) and (max-width: 1439px) {
    padding-left: $form-tablet-left;
    padding-right: $form-tablet-right;
  }
}

.data__input {
  flex-grow: 1;
  margin-left: 16px;
  height: 45px;
  width: 100px;
  box-sizing: border-box;
  text-transform: uppercase;
  padding: 13px 15px;
  border: 1px solid $again-gray-7;

  &--tel,
  &--email {
    margin-left: 16px;

    @media (min-width: $desktop) {
      margin-left: 17.5px;
    }
  }

  @media (min-width: $tablet) {
    height: 52px;
    padding: 10px 20px;
  }

  &:hover {
    border-color: $third-gray;
  }

  &:focus {
    border: 2px solid $third-gray;
  }

  &--error {
    border: 2px solid $error;
  }

  &::placeholder {
    color: $dark-gray;
  }
}
