$lin-grad-example: linear-gradient(to bottom, $basic-white 0, $basic-white 191px, $basic-gray 191px, $basic-gray 462px);

.example {
  width: 100%;
  min-width: 320px;
  padding-top: 27px;
  background-color: $again-gray-2;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    background-color: $basic-white;
    padding-top: 42px;
  }

  @media (min-width: $desktop) {
    display: flex;
    justify-content: center;
    background: $lin-grad-example;
    padding-top: 0;
  }
}

.example__wrapper {
  @media (min-width: $desktop) {
    width: $desktop;
    display: flex;
  }
}

.example__text-block {
  padding: 0 var(--pad);

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 73px;
  }

  @media (min-width: $desktop) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-right: 0;
    width: 590px;
    margin-bottom: 0;
    background: $lin-grad-example;
  }
}

.example__title {
  @include Oswald(36, 40);
  margin: 0;
  margin-bottom: 33px;

  @media (min-width: $tablet) {
    @include Oswald(60, 60);
    width: 100%;
    margin-bottom: 63px;
  }

  @media (min-width: $desktop) {
    margin-top: 53px;
    margin-bottom: 148px;
  }
}

.example__text {
  @include Arial(14, 18, $dark-gray);
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    @include Arial(16, 24, $dark-gray);
    height: 72px;
    margin-bottom: 54px;
    padding-right: 22px;
  }

  @media (min-width: $desktop) {
    height: auto;
    width: 437px;
    margin-bottom: 69px;
  }
}

.example__price {
  @include Oswald(14, 20);
  text-transform: uppercase;
  margin: 0;
  margin-bottom: 42px;
  text-align: center;

  @media (min-width: $tablet) {
    @include Oswald(20, 20);
    width: 50%;
    text-align: right;
    margin: 0;
    padding-bottom: 10px;
  }

  @media (min-width: $desktop) {
    width: 100%;
    text-align: left;
  }
}

.example__price-num {
  @media (min-width: $tablet) {
    display: block;
    margin-top: 9px;
  }

  @media (min-width: $desktop) {
    display: inline-block;
    margin-left: 55px;
  }
}

.example__slider {
  @media (min-width: $desktop) {
    padding-right: 70px;
  }
}

.example__progress {
  margin: 0;
  margin-bottom: 10px;

  @media (min-width: $desktop) {
    margin-bottom: 60px;
  }
}

.example__side {
  @media (min-width: $desktop) {
    background-color: $lin-grad-example;
    width: 100%;

    &--right {
      background: linear-gradient(to bottom, $basic-white 0, $basic-white 191px, $again-gray-2 191px, $again-gray-2 462px);
    }
  }
}
