.footer-location {
  width: 100%;
  background-color: $basic-white;

  @media (min-width: $desktop) {
    position: relative;
  }
}

.footer-location__no-js-text {
  position: absolute;
  text-align: center;
  padding: 10px;
}
