.functional-nutrition {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  @media (min-width: $desktop) {
    position: static;
  }
}

.functional-nutrition__text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 27px;
  z-index: 1;
  color: $basic-white;
  margin-bottom: 27px;

  @media (min-width: $tablet) {
    color: $basic-black;
    padding-left: 117px;
    width: 420px;
    padding-top: 31px;
    align-items: flex-start;
    align-self: flex-start;
    margin-bottom: 19px;
  }

  @media (min-width: $desktop) {
    padding-left: 13.25%;
    padding-top: 103px;
  }
}

.functional-nutrition__title {
  text-align: center;
  margin: 0;
  margin-bottom: 25px;

  @media (min-width: $tablet) {
    text-align: left;
    margin-bottom: 41px;
  }
}

.functional-nutrition__text {
  @include Oswald(14, 14);
  text-align: center;
  text-transform: uppercase;
  margin: 0;

  @media (min-width: $tablet) {
    @include Oswald(20, 20);
    text-align: left;
  }
}

.functional-nutrition__picture {
  z-index: 1;

  @media (min-width: $tablet) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop) {
    height: 499px;
    width: 552px;
    margin-bottom: -228px;
  }
}

.functional-nutrition__drop-food {
  @media (min-width: $tablet) {
    width: 709px;
    height: 609px;
  }

  @media (min-width: $desktop) {
    position: relative;
    left: 20.7%;
    top: -281px;
    height: 499px;
    width: 552px;
  }
}

.functional-nutrition__button {
  font-size: 14px;
  width: calc(100% - 40px);

  @media (min-width: $tablet) {
    @include Oswald(20, 20, $basic-white);
    position: relative;
    align-self: flex-start;
    left: 0;
    top: -580px;
    width: 244px;
    height: 54px;
    margin-bottom: -54px;
    z-index: 2;
    margin-left: 111px;
  }

  @media (min-width: $desktop) {
    top: -238px;
    margin-left: 13.25%;
  }
}

.functional-nutrition__cat-img {
  position: absolute;
  top: 0;
  height: 302px;
  width: 100%;
  background-image: url("../img/promo/promo-cat-mobile@1x.jpg");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  background-color: $dark-gray;

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 302px;
    background-color: rgba($basic-green, 0.85);
    background-size: contain;
  }

  @media (min-width: $tablet) {
    display: none;
  }

  @media (min-width: $desktop) {
    display: block;
    right: 0;
    width: 50%;
    flex-direction: row;
    height: 694px;
    background-image: url("../img/promo/promo-cat-desktop@1x.jpg");
    background-position: center center;
    background-color: $basic-green;
    background-size: cover;

    &::before {
      content: "";
      position: absolute;
      width: 100%;
      height: 694px;
    }
  }

  @media (min-resolution: 2dppx) {
    background-image: url("../img/promo/promo-cat-mobile@2x.jpg");
  }

  @media (min-resolution: 2dppx) and (min-width: $tablet) {
    background-image: none;
  }

  @media (min-resolution: 2dppx) and (min-width: $desktop) {
    background-image: url("../img/promo/promo-cat-desktop@2x.jpg");
  }
}
