.logo {
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  width: 190px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }

  @media (min-width: $tablet) {
    width: 174px;
  }

  @media (min-width: $tablet) {
    width: 202px;
  }
}

.logo__img {
  &--tablet,
  &--desktop {
    display: none;
  }

  @media (min-width: $tablet) {
    &,
    &--desktop {
      display: none;
    }

    &--tablet {
      display: block;
    }
  }

  @media (min-width: $desktop) {
    &,
    &--tablet {
      display: none;
    }

    &--desktop {
      display: block;
    }
  }
}
