.logo-text {
  padding-top: 39px;
  padding-bottom: 32px;
  border-bottom: 1px solid $again-gray;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0;
    width: 128px;
    height: 24px;
    border: none;
  }
}

.logo-text__img {
  width: 128px;
  height: 24px;
}
