.logo-text {
  padding-top: 37px;
  padding-bottom: 30px;
  border-bottom: 1px solid $again-gray;
  width: 100%;
  display: flex;
  justify-content: center;

  @media (min-width: $tablet) {
    padding: 0;
    width: 128px;
    height: 24px;
    border: none;
  }
}

.logo-text__img {
  width: 128px;
  height: 24px;

  &:hover {
    opacity: 0.8;
  }

  &:active {
    opacity: 0.6;
  }
}
