.main-catalog {
  padding-top: 4px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-catalog__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    column-gap: 60px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
  }
}


// .main-catalog__item {
//   margin-bottom: 11px;
// }
