.metodology {
  padding: 5px var(--pad) 0;

  @media (min-width: $tablet) {
    padding-bottom: 47px;
    border-bottom: 1px solid $again-gray-6;
  }

  @media (min-width: $desktop) {
    padding-bottom: 14px;
    width: $desktop;
    box-sizing: border-box;
    border: none;
  }
}

.metodology__title {
  @include Oswald(36, 40);
  margin: 0;
  margin-bottom: 38px;

  @media (min-width: $tablet) {
    @include Oswald(60, 60);
    margin-bottom: 32px;
  }
}

.metodology__list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  gap: 20px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    row-gap: 37px;
    column-gap: 58px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
    column-gap: 80px;
    grid-template-rows: 1fr;
  }
}

.metodology__item {
  display: flex;
  align-items: center;
  min-height: 60px;
  padding-left: 80px;
  position: relative;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    padding-left: 0;
    padding-top: 151px;
    // width: 330px;
    width: 305px;
    min-height: 280px;
    align-items: flex-start;
  }

  @media (min-width: $tablet) {
    width: auto;
  }

  &::before,
  &::after {
    position: absolute;
    content: "";
    width: 60px;
    height: 60px;
    left: 0;

    @media (min-width: $tablet) {
      width: 80px;
      height: 80px;
      top: 40px;
    }
  }

  &::before {
    background-color: $basic-green;
  }

  &::after {
    background-repeat: no-repeat;
    background-position: center;
  }

  &:first-child::after {
    background-image: url("../img/how_working/icon_leaf.svg");
  }

  &:nth-child(2)::after {
    background-image: url("../img/how_working/icon_tub.svg");
  }

  &:nth-child(3)::after {
    background-image: url("../img/how_working/icon_eat.svg");
  }

  &:last-child::after {
    background-image: url("../img/how_working/icon_alarm.svg");
  }
}

.metodology__text {
  @include Arial(14, 18, $dark-gray);
  margin: 0;

  @media (min-width: $tablet) {
    @include Arial(16, 24, $dark-gray);
    width: 245px;
  }
}
