.optional__legend {
  margin: 0;
  // margin-bottom: 39px;
  margin-bottom: 41px;

  margin-right: calc(-1 * var(--pad));
  margin-left: calc(-1 * var(--pad));

  @media (min-width: $tablet) {
    margin-bottom: 62px;
  }
}

.optional__list {
  margin: 0;
  padding: 0;
  display: grid;
  row-gap: 24px;

  @media (min-width: $tablet) {
    grid-template-columns: 1fr 1fr;
    row-gap: 42px;
    column-gap: 61px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: repeat(4, 1fr);
  }

  @media (min-width: $tablet) and (max-width: 1439px) {
    padding-left: $form-tablet-left;
    padding-right: $form-tablet-right;
  }
}

.optional__checkbox {
  @include hidden-mix();

  &:checked ~ .optional__label::after {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    background-image: url("../img/icons/check.svg");
    background-repeat: no-repeat;
    background-position: center;
    left: 0;
    top: -4px;
  }


  &:hover ~ .optional__label::before {
    border-color: $again-gray-8;
  }

  &:disabled ~ .optional__label::before {
    border-color: $again-gray-8;
  }

  &:disabled ~ .optional__label {
    opacity: 0.3;
  }
}

.optional__label {
  padding-left: 46px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    height: 30px;
    width: 30px;
    border: 1px solid $third-gray;
    left: 0;
    top: -4px;
  }
}
