.owner__legend {
  margin: 0;
  margin-bottom: 69px;
  margin-right: calc(-1 * var(--pad));
  margin-left: calc(-1 * var(--pad));
  white-space: nowrap;

  @media (min-width: $tablet) {
    margin-bottom: 90px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 88px;
  }
}

.owner__list {
  display: grid;
  row-gap: 14.1px;
  grid-template-rows: 45px 45px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) and (max-width: 1439px) {
    padding-left: $form-tablet-left;
    padding-right: $form-tablet-right;
    row-gap: 27px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    column-gap: 78px;
  }
}

.owner__item {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.owner__phone {
  position: absolute;
  right: 13px;

  @media (min-width: $tablet) {
    right: 16px;
  }
}

.owner__envelope {
  stroke: $dark-2;
  position: absolute;
  fill: none;
  right: 17px;

  @media (min-width: $tablet) {
    right: 18px;
  }
}
