.owner__legend {
  margin: 0;
  margin-bottom: 35px;
  margin-right: calc(-1 * var(--pad));
  margin-left: calc(-1 * var(--pad));
  white-space: nowrap;

  @media (min-width: $tablet) {
    margin-bottom: 76px;
  }
}

.owner__list {
  display: grid;
  row-gap: 14.1px;
  grid-template-rows: 45px 45px;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet) and (max-width: 1439px) {
    padding-left: $form-tablet-left;
    padding-right: $form-tablet-right;
  }
}

.owner__item {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
