.page-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 320px;
  width: 100%;
  overflow: hidden;
  background-color: $basic-white;
  border-top: 1px solid $again-gray-7;

  @media (min-width: $tablet) {
    border: none;
  }
}

.page-main__wrapper {
  @media (min-width: $desktop) {
    width: $desktop;
    margin: auto;
  }
}

.page-main__nutrition {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 360px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 82px;
  }
}

.page-main__purpose,
.page-main__catalog {
  // width: 100%;
  min-width: 320px;
  background-color: $basic-white;
  box-sizing: border-box;
}

.page-main__purpose {
  @media (min-width: $tablet) {
    margin-bottom: 40px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.page-main__catalog {
  margin-bottom: 15px;

  @media (min-width: $tablet) {
    margin-bottom: 19px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 21px;
  }
}

.page-main__metodology {
  margin-bottom: 44px;

  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}


.page-main__title {
  margin: 0;
  padding: 25px var(--pad) 0;
  background-color: $basic-white;

  &--catalog {
    margin-bottom: 41px;

    @media (min-width: $tablet) {
      margin-bottom: 24px;
      padding-top: 31px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 22px;
      padding-top: 188px;
    }
  }

  &--form {
    margin-bottom: 37px;
    padding-top: 25px;

    @media (min-width: $tablet) {
      padding-top: 30px;
      margin-bottom: 56px;
    }

    @media (min-width: $desktop) {
      margin-bottom: 56px;
      padding-top: 187px;
    }

    @media (min-width: $tablet) and (max-width: 1439px) {
      padding-left: 71px;
      padding-right: 67px;
    }
  }
}
