.parameters {
  padding: 0;
  margin: 0;
  border-bottom: 1px solid $again-gray;

  @media (min-width: $tablet) {
    border: none;
  }
}

.parameters__list {
  margin: 0;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin-bottom: 72px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 69px;
  }
}

.parameters__item {
  margin: 0;
  margin-bottom: 14px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  &:last-child {
    margin-bottom: 0;
  }
}
