.product-card {
  width: 100%;
  min-height: 209px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 65px;
  border-top: 1px solid $again-gray-4;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    width: 324px;
    min-height: 430px;
    background-color: $basic-gray;
    grid-template-columns: 1fr;
    grid-template-rows: auto 65px;
    position: relative;
    margin-top: 140px;
    padding: 160px 37px 0;
    border: none;
  }

  @media (min-width: $desktop) {
    width: 245px;
  }

  &--plus {
    grid-template-columns: 1fr;

    @media (min-width: $tablet) {
      background-color: $basic-white;
    }
  }
}

.product-card__img {
  @media (min-width: $tablet) {
    width: 162px;
    height: 172px;
  }

  &--big {
    @media (min-width: $tablet) {
      width: 168px;
      height: 200px;
    }
  }
}

.product-card__link-img {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    position: absolute;
    top: -320px;
    align-items: flex-end;
  }
}

.product-card__button {
  text-align: center;
  grid-column: 1/3;
}

.product-card__wrapper-plus {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.product-card__title {
  @include font-mix(16, 20, $dark-2);
  margin: 0;
  margin-bottom: 8px;
}

.product-card__plus {
  width: 30px;
  height: 2px;
  background-color: $again-gray-3;
  position: relative;
  margin-bottom: 39px;
  margin-top: 39px;

  &::after {
    position: absolute;
    content: "";
    transform: rotate(90deg);
    width: 30px;
    height: 2px;
    background-color: $again-gray-3;
  }
}

.product-card__some-text {
  @include font-mix(12, 16, $dark-gray, 400, "Arial");
  margin: 0;
  margin-bottom: 21px;
}
