.product-card {
  width: 100%;
  min-height: 209px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 65px;
  border-top: 1px solid $again-gray-4;
  justify-self: center;

  @media (min-width: $tablet) {
    width: 324px;
    min-height: 430px;
    background-color: $basic-gray;
    box-sizing: border-box;
    grid-template-columns: 1fr;
    // grid-template-rows: 160px auto 80px;
    grid-template-rows: 160px 190px 80px;

    align-self: center;
    margin-top: 140px;
    padding: 0 37px;
    border: none;
  }

  @media (min-width: $desktop) {
    margin-top: 143px;
    width: 245px;
  }

  &--plus {
    grid-template-columns: 1fr;
    grid-template-rows: 78px auto 65px;
    align-self: center;

    @media (min-width: $tablet) {
      // grid-template-rows: 160px auto 80px;
      grid-template-rows: 160px 190px 80px;
      background-color: $basic-white;
      border: 2px solid $basic-gray;
    }
  }
}

.product-card__img {
  @media (min-width: $tablet) {
    width: 162px;
    height: 172px;
  }

  &--big {
    @media (min-width: $tablet) {
      width: 168px;
      height: 200px;
    }

    @media (min-width: $desktop) {
      width: 172px;
      height: 196px;
    }
  }
}

.product-card__link-img {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    align-items: flex-end;
    margin-bottom: 34px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 42px;
  }
}

.product-card__button {
  grid-column: 1/3;

  @media (min-width: $tablet) {
    grid-column: 1/2;
  }
}

.product-card__button-plus {
  background-color: $basic-gray;
  color: $basic-black;
}

.product-card__wrapper-plus {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: start;
}

.product-card__title {
  @include font-mix(16, 20, $dark);
  text-transform: uppercase;
  text-align: center;
  margin: 0;
  margin-bottom: 8px;

  @media (min-width: $tablet) {
    @include font-mix(20, 24, $dark);
    margin-bottom: 23px;
  }
}

.product-card__plus {
  width: 30px;
  height: 2px;
  background-color: $again-gray-3;
  justify-self: center;
  align-self: center;
  position: relative;

  &::after {
    position: absolute;
    content: "";
    transform: rotate(90deg);
    width: 30px;
    height: 2px;
    background-color: $again-gray-3;

    @media (min-width: $tablet) {
      width: 60px;
    }
  }

  @media (min-width: $tablet) {
    width: 60px;
  }
}

.product-card__some-text {
  @include font-mix(12, 16, $dark-gray, 400, "Arial");
  margin: 0;
  margin-bottom: 21px;

  @media (min-width: $tablet) {
    @include font-mix(16, 18, $dark-gray, 400, "Arial");
    text-align: center;
  }
}
