.progress {
  padding: 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  row-gap: 10px;

  @media (min-width: $tablet) {
    width: 50%;
    column-gap: 42px;
  }
}

.progress__item {
  justify-self: center;
  width: 124px;
  height: 58px;
  border: 1px solid $third-gray;
  border-radius: 3px;
  padding-bottom: 3px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 13px;
  margin-bottom: 24px;

  @media (min-width: $tablet) {
    margin: 0;
    width: 162px;
    height: 72px;
  }
}

.progress__main {
  @include font-mix(24, 24);
  margin: 0;
  margin-bottom: 5px;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font-mix(30, 37);
    margin-bottom: 6px;
  }
}

.progress__text {
  @include font-mix(12, 12, $dark-gray, 400, "Arial");
  width: 87px;
  padding: 4px;
  box-sizing: border-box;
  text-align: center;
  margin: 0;
  z-index: 1;
  background-color: $again-gray-2;

  @media (min-width: $tablet) {
    @include font-mix(14, 14, $dark-gray, 400, "Arial");
    background-color: $basic-white;

    &--kg {
      width: 114px;
    }

    &--days {
      width: 142px;
    }
  }

  @media (min-width: $desktop) {
    background-color: $basic-gray;
  }
}
