.purposes__list {
  padding: 28px 0 25px;
  border-bottom: 1px solid $again-gray;
  box-sizing: border-box;
  margin: 0;

  @media (min-width: $tablet) {
    border: 1px solid $again-gray-7;
    padding: 29px 28px;
    min-height: 196px;
  }
}

.purposes__item:not(:last-child) {
  margin-bottom: 24.5px;

  @media (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.purposes__label {
  padding-left: 46px;
  position: relative;

  @media (min-width: $tablet) {
    padding-left: 60px;
  }

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $third-gray;
    box-sizing: border-box;
    border-radius: 50%;
    top: -3px;
    left: 0;

    @media (min-width: $tablet) {
      width: 40px;
      height: 40px;
      top: -6px;
    }
  }
}

.purposes__radio {
  @include hidden-mix();

  &:checked ~ .purposes__label::after {
    position: absolute;
    content: "";
    width: 13.5px;
    height: 13.5px;
    background-color: $basic-green;
    border-radius: 50%;
    top: 5px;
    left: 8px;


    @media (min-width: $tablet) {
      width: 18px;
      height: 18px;
      top: 6px;
      left: 11px;
    }
  }
  &:focus ~ .purposes__label::before {
    box-shadow: 0 0 1px 1px $dark-gray;
  }
  &:hover ~ .purposes__label::before {
    border-color: $again-gray-8;
  }

  &:disabled ~ .purposes__label::before {
    border-color: $again-gray-8;
  }

  &:disabled ~ .purposes__label {
    opacity: 0.3;
  }

  &:disabled ~ .purposes__label::after {
    opacity: 0.3;
  }
}
