.purposes__list {
  padding: 28px 0 25px;
  border-bottom: 1px solid $again-gray;
  box-sizing: border-box;
  margin: 0;

  @media (min-width: $tablet) {
    border: 1px solid $again-gray-7;
    padding: 30px 28px;
    height: 196px;
  }
}

.purposes__item:not(:last-child) {
  margin-bottom: 24.5px;

  @media (min-width: $tablet) {
    margin-bottom: 23px;
  }
}

.purposes__label {
  padding-left: 46px;
  position: relative;

  &::before {
    position: absolute;
    content: "";
    width: 30px;
    height: 30px;
    border: 1px solid $third-gray;
    box-sizing: border-box;
    border-radius: 50%;
    top: -3px;
    left: 0;
  }
}

.purposes__radio:checked ~ .purposes__label::after {
  position: absolute;
  content: "";
  width: 13.5px;
  height: 13.5px;
  background-color: $basic-green;
  border-radius: 50%;
  top: 5px;
  left: 8px;
}


.purposes__radio {
  @include hidden-mix();
}
