.purpose {
  display: flex;
  flex-direction: column;

  @media (min-width: $desktop) {
    width: $desktop;
  }
}


.purpose__list {
  list-style: none;
  padding: 0;
  margin: 0;

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-left: var(--pad);
    padding-right: var(--pad);
  }
}

.purpose__item {
  background-color: $basic-gray;
  padding: 30px 33px 0 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;

  @media (min-width: $tablet) {
    padding: 77px 315px 45px 52px;
    margin-bottom: 30px;
    min-height: 333px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @media (min-width: $desktop) {
    padding: 77px 52px 30px;
    min-height: 374px;
    width: 570px;
    margin: 0;
    margin-bottom: 60px;

    &:last-child {
      margin-bottom: 60px;
    }
  }

  &::before {
    position: absolute;
    content: "";
    width: 50px;
    height: 50px;
    background-color: $basic-green;
    border-radius: 50%;
    top: 24px;

    @media (min-width: $tablet) {
      width: 200px;
      height: 200px;
      right: 62px;
      top: 92px;
    }

    @media (min-width: $desktop) {
      width: 100px;
      height: 100px;
      right: auto;
      top: 47px;
      left: 52px;
    }
  }

  &::after {
    position: absolute;
    content: "";
    width: 100px;
    height: 100px;
    left: -2px;

    @media (min-width: $tablet) {
      left: auto;
      width: 80px;
      height: 80px;
      right: 125px;
      top: 42px;
    }

    @media (min-width: $desktop) {
      right: auto;
      width: 70px;
      height: 70px;
      left: 65px;
      top: 42px;
    }
  }

  &:first-child::after {
    background-image: url("../img/purpose/lose_weight.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: -2px;

    @media (min-width: $tablet) {
      top: 135px;
      transform: scale(3.9);
    }

    @media (min-width: $desktop) {
      top: 55px;
      transform: scale(1.95);
    }
  }

  &:last-child::after {
    background-image: url("../img/purpose/gain_weight.svg");
    background-repeat: no-repeat;
    background-position: center;
    top: 0;

    @media (min-width: $tablet) {
      top: 152px;
      transform: scale(3.99);
    }

    @media (min-width: $desktop) {
      top: 60px;
      transform: scale(2);
    }
  }
}

.purpose__title {
  @include Oswald(24, 37);
  padding-left: 71px;
  margin: 0;
  margin-bottom: 29px;
  // text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include Oswald(36, 36);
    padding-left: 0;
    text-align: left;
    margin-bottom: 24px;
  }

  @media (min-width: $desktop) {
    // text-align: center;
    padding-left: 162px;
    margin-bottom: 73px;
  }
}

.purpose__text {
  @include Arial(14, 18, $dark-gray);
  margin: 0;
  margin-bottom: 23px;

  @media (min-width: $tablet) {
    @include Arial(16, 24, $basic-black);
    margin-bottom: 36px;
  }

  @media (min-width: $tablet) {
    margin-bottom: 13px;
  }
}

.purpose__link {
  @include Oswald(16, 16);
  width: 100%;
  display: flex;
  align-items: center;
  height: 57px;
  text-decoration: none;
  border-top: 1px solid $again-gray;
  position: relative;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include Oswald(20, 30);
    border: none;
  }

  &:active {
    opacity: 0.5;
  }

  &::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 32px;
    background-image: url("../img/arrows/arrow-short.svg");
    background-repeat: no-repeat;
    left: 100px;

    @media (min-width: $tablet) {
      left: 133px;
    }
  }

  &:hover::after {
    background-image: url("../img/arrows/arrow-long.svg");
  }

  &:active::after {
    opacity: 0.5;
  }
}
