.socials {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 63px;
}


.socials__list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  margin: 0;
  padding: 0;
  padding-right: 8px;

  @media (min-width: $tablet) {
    padding-left: 28px;
    padding-bottom: 5px;
  }
}

.socials__item {
  margin-right: 39px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet) {
    margin-right: 28px;
  }

  &:last-child {
    margin: 0;
  }
}

.socials__link {
  display: block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;

  &:active {
    opacity: 0.3;
  }

  &--vk {
    width: 22px;
    height: 12px;
    fill: $again-gray-666;

    &:hover {
      fill: $basic-green;
    }

    @media (min-width: $tablet) {
      width: 29px;
      height: 17px;
    }
  }

  &--ig {
    width: 16px;
    height: 16px;
    fill: $again-gray-666;

    &:hover {
      fill: $basic-green;
    }

    @media (min-width: $tablet) {
      width: 23px;
      height: 23px;
    }
  }

  &--fb {
    width: 12px;
    height: 20px;
    stroke: $again-gray-666;

    &:hover {
      stroke: $basic-green;
    }

    @media (min-width: $tablet) {
      width: 19px;
      height: 27px;
    }
  }
}
