.specification-table {
  border-collapse: collapse;
  width: 100%;
  min-height: 44px;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    align-self: end;
    margin-bottom: 33px;
  }

  & caption {
    padding-top: 19px;
    min-height: 41px;
    margin-bottom: 14px;
    text-align: left;
    width: 100px;

    @media (min-width: $tablet) {
      width: 150px;
      text-align: center;
      margin: auto;
      margin-bottom: 21px;
      padding: 0;
    }
  }
}

.specification-table__link-title {
  @include font-mix(16, 20, $dark-2);
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font-mix(20, 24);
  }
}

.specification-table__cell {
  @include font-mix(12, 0, $dark-gray, 400, "Arial");

  &--right {
    text-align: right;
  }

  @media (min-width: $tablet) {
    @include font-mix(16, 16, $dark-gray, 400, "Arial");
  }
}

.specification-table__row {
  @media (min-width: $tablet) {
    height: 31px;
    border-bottom: 1px solid $third-gray;
  }
}
