.specification-table {
  width: 100%;
  min-height: 44px;
  box-sizing: border-box;


  & caption {
    padding-top: 19px;
    min-height: 41px;
    margin-bottom: 14px;
    text-align: left;
    width: 100px;
  }
}

.specification-table__link-title {
  @include font-mix(16, 20, $dark-2);
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font-mix(20, 24);
  }
}


.specification-table__cell {
  @include font-mix(12, 0, $dark-gray, 400, "Arial");

  &--right {
    text-align: right;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}
