.specification-table {
  border-collapse: collapse;
  width: 100%;
  // min-height: 45px; // не работает в файрфокс - не настраивается высота отдельных строк
  height: 47px;
  border: none;
  box-sizing: border-box;

  @media (min-width: $tablet) {
    align-self: end;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop) {
    width: 99%;
    margin-left: 3px;
  }

  & caption {
    padding-top: 19px;
    min-height: 41px;
    margin-bottom: 10px;
    text-align: left;
    width: 100px;

    @media (min-width: $tablet) {
      width: auto;
      text-align: center;
      margin-bottom: 11px;
      padding: 0;
    }

    @media (min-width: $desktop) {
      width: auto;
      text-align: center;
      margin-bottom: 14px;
      padding: 0;
    }
  }
}

.specification-table__link-title {
  @include Oswald(16, 20, $dark-2);
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include Oswald(20, 24);
    display: inline-block;
    width: 150px;
    padding-left: 4px;
  }

  @media (min-width: $desktop) {
    @include Oswald(20, 22);
    padding-left: 2px;
  }
}

.specification-table__cell {
  @include Arial(12, 12, $dark-gray);

  &--right {
    text-align: right;
  }

  @media (min-width: $tablet) {
    @include Arial(16, 16, $dark-gray);
  }
}

.specification-table__row {
  @media (min-width: $tablet) {
    height: 32px;
    border-bottom: 1px solid $third-gray;
  }
}
