.title-line {
  @include font-mix(24, 24);
  display: flex;
  padding: 20px;

  @media (min-width: $tablet) {
    @include font-mix(36, 36);
    padding: 0;
  }

  &::after {
    content: "";
    width: 200px;
    height: 2px;
    background-color: $basic-green;
    margin-top: 17px;
    margin-left: 22px;
    flex-grow: 1;
  }

  &::before {
    @media (min-width: $tablet) {
      content: "";
      width: 30px;
      height: 2px;
      background-color: $basic-green;
      margin-top: 17px;
      margin-right: 38.5px;
    }

    @media (min-width: $desktop) {
      width: 70px;
      height: 2px;
    }
  }
}
