.specification-table {
  width: 50%;
  height: 44px;
  box-sizing: border-box;
  margin-bottom: 9px;

  & caption {
    height: 41px;
    margin-bottom: 18px;
    text-align: left;
    width: 100px;
  }
}

.specification-table__link-title {
  @include font-mix(16, 20);
  text-decoration: none;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    @include font-mix(20, 24);
  }
}


.specification-table__cell {
  @include font-mix(12, 16, $dark-gray, 400, "Arial");

  &--right {
    text-align: right;
  }

  @media (min-width: $tablet) {
    font-size: 16px;
  }
}
