.comment {
  padding: 0;
}

.comment__legend {
  margin: 0;
  margin-bottom: 38px;
  margin-right: -20px;
}

.comment__field {
  height: 151px;
  width: 100%;
  box-sizing: border-box;
  text-transform: uppercase;
}
