// color
$basic-white: #ffffff;
$basic-black: #000000;

$dark: #111111;
$dark-2: #222222;

$basic-gray: #f2f2f2;
$second-gray: #c4c4c4;
$third-gray: #cdcdcd;
$again-gray: #d9d9d9;
$again-gray-2:#eaeaea;
$again-gray-3: #d3d3d3;
$again-gray-4: #ebebeb;
$again-gray-5: #dcdcdc;
$again-gray-6: #e6e6e6;
$again-gray-7: #e7e7e7;
$dark-gray: #444444;

$basic-green: #68b738;
$basic-green-2: #5eaa2f;

$error: #FF8282;


//sizes

$desktop: 1440px;
$tablet: 768px;

$form-tablet-left: 41px;
$form-tablet-right: 37px;

:root {
  --pad: 20px;
}

@media (min-width: $tablet) {
  :root {
    --pad: 30px;
  }
}

@media (min-width: $desktop) {
  :root {
    --pad: 110px;
  }
}
